In [24]:
# Importar bibliotecas
import sys
import mysql.connector

sys.path.append('../source')  # Ajusta la ruta si es necesario

from connection_mysql import get_connection

# Obtener la conexi√≥n a la base de datos
conexion = get_connection()

if conexion:
    cursor = conexion.cursor()

    # Crear la tabla raw_candidates (si no existe)
    create_table_query = """
    CREATE TABLE IF NOT EXISTS raw_candidates (
        id INT AUTO_INCREMENT PRIMARY KEY,
        first_name VARCHAR(100),
        last_name VARCHAR(100),
        email VARCHAR(100),
        country VARCHAR(100),
        application_date DATE,
        yoe INT,
        seniority VARCHAR(100),
        technology VARCHAR(100),
        code_challenge_score FLOAT,
        technical_interview_score FLOAT
    );
    """
    cursor.execute(create_table_query)
    conexion.commit()

    # Cerrar la conexi√≥n
    cursor.close()
    conexion.close()

    print("Tabla 'raw_candidates' creada exitosamente.")
else:
    print("No se pudo establecer la conexi√≥n a la base de datos.")

Error: 2017 (HY000): Can't open named pipe to host: .  pipe: MySQL (2)
No se pudo establecer la conexi√≥n a la base de datos.

In [8]:
import mysql.connector

try:
    conexion = mysql.connector.connect(
        user="root",
        password="root",
        host="localhost",
        port=3305,
        database="candidates_db"
    )

    if conexion.is_connected():
        print("‚úÖ Conexi√≥n exitosa desde notebook")
        print("Versi√≥n de MySQL:", conexion.get_server_info())

except mysql.connector.Error as err:
    print("‚ùå Error al conectar:", err)

finally:
    if 'conexion' in locals() and conexion.is_connected():
        conexion.close()
        print("üîå Conexi√≥n cerrada.")

‚úÖ Conexi√≥n exitosa desde notebook
Versi√≥n de MySQL: 8.0.36
üîå Conexi√≥n cerrada.

In [15]:
import sys
sys.path.append("C:/Users/Michel Burgos/OneDrive/Documentos/GitHub/Workshop-1/source")

from connection_mysql import get_connection

try:
    conexion = get_connection()
    
    if conexion is None:
        print("‚ùå Error: get_connection() devolvi√≥ None. Revisa la configuraci√≥n.")
    else:
        print("‚úÖ Conexi√≥n exitosa con get_connection desde el notebook")
        print("Versi√≥n de MySQL:", conexion.get_server_info())

except Exception as err:
    print(f"‚ùå Error inesperado: {err}")

finally:
    if conexion and conexion.is_connected():
        conexion.close()
        print("üîå Conexi√≥n cerrada.")

Error: 2017 (HY000): Can't open named pipe to host: .  pipe: MySQL (2)
‚ùå Error: get_connection() devolvi√≥ None. Revisa la configuraci√≥n.

In [23]:
import mysql.connector

try:
    conexion = mysql.connector.connect(
        user="root",
        password="root",
        host="127.0.0.1",  # ‚ö†Ô∏è Usa 127.0.0.1 en vez de localhost
        port=3305,
        database="candidates_db",
        use_pure=True
    )

    if conexion.is_connected():
        print("‚úÖ Conexi√≥n exitosa a MySQL en el notebook")
        print("Versi√≥n de MySQL:", conexion.get_server_info())

except mysql.connector.Error as err:
    print(f"‚ùå Error: {err}")

finally:
    if 'conexion' in locals() and conexion.is_connected():
        conexion.close()
        print("üîå Conexi√≥n cerrada.")

‚úÖ Conexi√≥n exitosa a MySQL en el notebook
Versi√≥n de MySQL: 8.0.36
üîå Conexi√≥n cerrada.

In [26]:
import sys
sys.path.append('../source')  # Agrega la carpeta source al path

from connection_mysql import get_connection

# Obtener la conexi√≥n
conexion = get_connection()

# Verificar si la conexi√≥n se estableci√≥ correctamente
if conexion:
    print("‚úÖ Conexi√≥n exitosa desde notebook")
    print("Versi√≥n de MySQL:", conexion.get_server_info())
    
    # Cerrar la conexi√≥n
    conexion.close()
    print("üîå Conexi√≥n cerrada.")
else:
    print("‚ùå No se pudo establecer la conexi√≥n a la base de datos.")

Error: 2017 (HY000): Can't open named pipe to host: .  pipe: MySQL (2)
‚ùå No se pudo establecer la conexi√≥n a la base de datos.

In [1]:
import sys
sys.path.append('../source')  # Agrega la carpeta source al path

from connection_mysql import get_connection

# Obtener la conexi√≥n
conexion = get_connection()

# Verificar si la conexi√≥n se estableci√≥ correctamente
if conexion:
    print("‚úÖ Conexi√≥n exitosa desde notebook")
    print("Versi√≥n de MySQL:", conexion.get_server_info())
    
    # Cerrar la conexi√≥n
    conexion.close()
    print("üîå Conexi√≥n cerrada.")
else:
    print("‚ùå No se pudo establecer la conexi√≥n a la base de datos.")

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [22]:
import sys
sys.path.append('../source')  # Agrega la carpeta source al path

from connection_mysql import get_connection

# Obtener la conexi√≥n
conexion = get_connection()

# Verificar si la conexi√≥n se estableci√≥ correctamente
if conexion:
    print("Conexi√≥n exitosa.")
    # Realizar operaciones con la base de datos
    cursor = conexion.cursor()
    cursor.execute("SELECT VERSION()")
    version = cursor.fetchone()
    print(f"Versi√≥n de MySQL: {version[0]}")
    
    # Cerrar la conexi√≥n
    cursor.close()
    conexion.close()
    print("Conexi√≥n cerrada.")
else:
    print("No se pudo establecer la conexi√≥n a la base de datos.")

Error: 2017 (HY000): Can't open named pipe to host: .  pipe: MySQL (2)
No se pudo establecer la conexi√≥n a la base de datos.

In [21]:
import sys
sys.path.append('../source')  # Agrega la carpeta source al path

from connection_mysql import get_connection

# Obtener la conexi√≥n
conexion = get_connection()

# Verificar si la conexi√≥n se estableci√≥ correctamente
if conexion:
    print("Conexi√≥n exitosa.")
    # Realizar operaciones con la base de datos
    cursor = conexion.cursor()
    cursor.execute("SELECT VERSION()")
    version = cursor.fetchone()
    print(f"Versi√≥n de MySQL: {version[0]}")
    
    # Cerrar la conexi√≥n
    cursor.close()
    conexion.close()
    print("Conexi√≥n cerrada.")
else:
    print("No se pudo establecer la conexi√≥n a la base de datos.")

Error: 2017 (HY000): Can't open named pipe to host: .  pipe: MySQL (2)
No se pudo establecer la conexi√≥n a la base de datos.

In [7]:
from dotenv import load_dotenv
import os

load_dotenv('credential.env')

print("Usuario:", os.getenv("DB_USER"))
print("Host:", os.getenv("DB_HOST"))
print("Puerto:", os.getenv("DB_PORT"))
print("Base de datos:", os.getenv("DB_NAME"))

Usuario: root
Host: localhost
Puerto: 3305
Base de datos: candidates_db

In [11]:
import pandas as pd
df = pd.read_csv('../data/candidates.csv', sep=';')
print(df.head())  # Verifica que las columnas se cargan correctamente

   First Name   Last Name                      Email Application Date  \
0  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   Country  YOE  Seniority                         Technology  \
0   Norway    2     Intern                      Data Engineer
1   Panama   10     Intern                      Data Engineer
2  Belarus    4  Mid-Level                     Client Success
3  Eritrea   25    Trainee                          QA Manual
4  Myanmar   13  Mid-Level  Social Media Community Management

   Code Challenge Score  Technical Interview Score
0                     3                          3
1                     2                         10
2                    10                          9
3                     7                          1
4                     9                          7

In [12]:
print(df.columns)

Index(['First Name', 'Last Name', 'Email', 'Application Date', 'Country',
       'YOE', 'Seniority', 'Technology', 'Code Challenge Score',
       'Technical Interview Score'],
      dtype='object')

In [13]:
# Importar bibliotecas
import pandas as pd
import sys

# Agregar la carpeta source al path para importar la conexi√≥n
sys.path.append('../source')
from connection_mysql import get_connection

# Cargar el archivo CSV
df = pd.read_csv('../data/candidates.csv', sep=';')

print(df.head())  # Verifica que las columnas se cargan correctamente



# Obtener la conexi√≥n a la base de datos
conexion = get_connection()

if conexion:
    cursor = conexion.cursor()

    # Insertar los datos en la tabla raw_candidates
    insert_query = """
    INSERT INTO raw_candidates (first_name, last_name, email, country, application_date, yoe, seniority, technology, code_challenge_score, technical_interview_score)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

    for _, row in df.iterrows():
        valores = (
            row['First Name'], row['Last Name'], row['Email'], row['Country'],
            row['Application Date'], row['YOE'], row['Seniority'], row['Technology'],
            row['Code Challenge Score'], row['Technical Interview Score']
        )

        cursor.execute(insert_query, valores)

    # Confirmar la transacci√≥n
    conexion.commit()

    # Cerrar la conexi√≥n
    cursor.close()
    conexion.close()

    print("Datos cargados exitosamente en la tabla 'raw_candidates'.")
else:
    print("No se pudo establecer la conexi√≥n a la base de datos.")

   First Name   Last Name                      Email Application Date  \
0  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   Country  YOE  Seniority                         Technology  \
0   Norway    2     Intern                      Data Engineer
1   Panama   10     Intern                      Data Engineer
2  Belarus    4  Mid-Level                     Client Success
3  Eritrea   25    Trainee                          QA Manual
4  Myanmar   13  Mid-Level  Social Media Community Management

   Code Challenge Score  Technical Interview Score
0                     3                          3
1                     2                         10
2                    10                          9
3                     7                          1
4                     9                          7
Conexi√≥n a la base de datos exitosa.

DataError: 1406 (22001): Data too long for column 'country' at row 1