In [11]:
import sys
import os
import pandas as pd

In [17]:
sys.path.append(os.path.abspath('../source'))

from connection_mysql import get_connection

conexion = get_connection()

✅ Conexión a la base de datos exitosa.

In [13]:

if conexion:
    cursor = conexion.cursor()

    # Crear la tabla raw_candidates (si no existe)
    create_table_query = """
    CREATE TABLE IF NOT EXISTS raw_candidates (
        id INT AUTO_INCREMENT PRIMARY KEY,
        first_name VARCHAR(100),
        last_name VARCHAR(100),
        email VARCHAR(100),
        country VARCHAR(100),
        application_date DATE,
        yoe INT,
        seniority VARCHAR(100),
        technology VARCHAR(100),
        code_challenge_score FLOAT,
        technical_interview_score FLOAT
    );
    """
    cursor.execute(create_table_query)
    conexion.commit()

    # Cerrar la conexión
    cursor.close()
    conexion.close()

    print("Tabla 'raw_candidates' creada exitosamente.")
else:
    print("No se pudo establecer la conexión a la base de datos.")

Tabla 'raw_candidates' creada exitosamente.

In [14]:
import pandas as pd
df = pd.read_csv('../data/candidates.csv', sep=';')
print(df.head())  # Verifica que las columnas se cargan correctamente

   First Name   Last Name                      Email Application Date  \
0  Bernadette   Langworth        leonard91@yahoo.com       2021-02-26
1      Camryn    Reynolds        zelda56@hotmail.com       2021-09-09
2       Larue      Spinka   okey_schultz41@gmail.com       2020-04-14
3        Arch      Spinka     elvera_kulas@yahoo.com       2020-10-01
4       Larue  Altenwerth  minnie.gislason@gmail.com       2020-05-20

   Country  YOE  Seniority                         Technology  \
0   Norway    2     Intern                      Data Engineer
1   Panama   10     Intern                      Data Engineer
2  Belarus    4  Mid-Level                     Client Success
3  Eritrea   25    Trainee                          QA Manual
4  Myanmar   13  Mid-Level  Social Media Community Management

   Code Challenge Score  Technical Interview Score
0                     3                          3
1                     2                         10
2                    10                          9
3                     7                          1
4                     9                          7

In [18]:

if conexion:
    cursor = conexion.cursor()

    # Insertar los datos en la tabla raw_candidates
    insert_query = """
    INSERT INTO raw_candidates (first_name, last_name, email, country, application_date, yoe, seniority, technology, code_challenge_score, technical_interview_score)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

    for _, row in df.iterrows():
        valores = (
            row['First Name'], row['Last Name'], row['Email'], row['Country'],
            row['Application Date'], row['YOE'], row['Seniority'], row['Technology'],
            row['Code Challenge Score'], row['Technical Interview Score']
        )

        cursor.execute(insert_query, valores)

    # Confirmar la transacción
    conexion.commit()

    # Cerrar la conexión
    cursor.close()
    conexion.close()

    print("Datos cargados exitosamente en la tabla 'raw_candidates'.")
else:
    print("No se pudo establecer la conexión a la base de datos.")

Datos cargados exitosamente en la tabla 'raw_candidates'.