# EDA

In [1]:
import sys
import os
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sys.path.append(os.path.abspath('../source'))

from connection_mysql import get_sqlalchemy_engine

conexion = get_sqlalchemy_engine()

✅ Conexión a la base de datos exitosa.

In [4]:
df = pd.read_sql_query("SELECT * FROM raw_candidates", conexion)
print(df.head())

   id  first_name   last_name                      email  country  \
0   1  Bernadette   Langworth        leonard91@yahoo.com   Norway
1   2      Camryn    Reynolds        zelda56@hotmail.com   Panama
2   3       Larue      Spinka   okey_schultz41@gmail.com  Belarus
3   4        Arch      Spinka     elvera_kulas@yahoo.com  Eritrea
4   5       Larue  Altenwerth  minnie.gislason@gmail.com  Myanmar

  application_date  yoe  seniority                         technology  \
0       2021-02-26    2     Intern                      Data Engineer
1       2021-09-09   10     Intern                      Data Engineer
2       2020-04-14    4  Mid-Level                     Client Success
3       2020-10-01   25    Trainee                          QA Manual
4       2020-05-20   13  Mid-Level  Social Media Community Management

   code_challenge_score  technical_interview_score
0                   3.0                        3.0
1                   2.0                       10.0
2                  10.0                        9.0
3                   7.0                        1.0
4                   9.0                        7.0